@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mynerve&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Questrial", sans-serif;
}
.nav-logo {
  font-family: "Mynerve", sans-serif;
}

.swap-on,
.swap {
  opacity: 1 !important;
}

.swap-on {
  transform: rotate(90deg) !important;
}

.welcome-img {
  max-width: 100%;
  background-size: cover;
  object-position: center;
  object-fit: cover;
  overflow: hidden;
}

.welcome-text {
  text-shadow: #000 0 0 15px;
}
